
.container{
    margin-bottom: 100px;
}

.all-para{
    color: gray;
}

.dot-bg{
    background-image: url("images/bg-2.png");
    background-repeat: no-repeat;
    background-position: left bottom ;
    background-size: 150px;
    
}
.caro-bg{
    background-image: url("images/bg-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}

.description-gap{
    padding-top: 100px;
}

.setup-button{
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
}

.mar-btm{
    margin-bottom: 25px;
}
.see-all{
    color: rgb(255, 145, 0);
    font-weight: 700;
}

.card-text{
    text-align: center;
}

.card{
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 20px lightgray;
}

.card-img-top{
    padding: 40px 20px;
}


.card-footer{
    border: none;
    background-color: white;
    margin-bottom: 50px;
}