
.container{
    margin-bottom: 50px;
}

.all-para{
    color: gray;
}

.dot-bg{
    background-image: url("images/bg-2.png");
    background-repeat: no-repeat;
    background-position: left bottom ;
    background-size: 150px;
    
}
.caro-bg{
    background-image: url("images/bg-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}

.description-gap{
    padding-top: 100px;
}

.setup-button{
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
}
