
.container{
    margin-bottom: 100px;
}

.all-para{
    color: gray;
}

.dot-bg{
    background-image: url("images/bg-2.png");
    background-repeat: no-repeat;
    background-position: left bottom ;
    background-size: 150px;
    
}
.caro-bg{
    background-image: url("images/bg-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}

.description-gap{
    padding-top: 100px;
}

.setup-button{
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
}

.mar-btm{
    margin-bottom: 25px;
}
.see-all{
    color: rgb(255, 145, 0);
    font-weight: 700;
}

.card-text{
    text-align: center;
}

.card{
    border: none;
    border-radius: 20px;
    box-shadow: 8px 8px 30px lightgray;
    margin:10px 10px;
}

.card-img-top{
    padding: 40px 20px;
}


.card-footer{
    border: none;
    background-color: white;
    margin-bottom: 50px;
}

.catagory{
    text-align: center;
}

.for-line{
    width:90px;
    height:7px;
    margin: auto;
    border-radius: 10px;
    background-image: linear-gradient(rgba(255, 166, 0, 0.959) 0%, rgb(255, 94, 0) 100%);
    margin-bottom: 20px;
}


.cat-card1,.cat-card2,.cat-card3{
    width: 200px;
    border-radius: 15px 0 30px 0;
}

.cat-card1{
    margin-left:auto;
}

.cat-card3{
    margin-top: 40px;
}

.cat-img{
    max-width: 100%;
    max-height: 100%;
}